.app-content {
  padding-top: 220px;
  text-align: center;
}
.sidebar {
  background-color: #D0D0D0;
  height: 800px;
}

.tasks {
  font-family: monospace;
}

.timer h1 {
  font-family: monospace;
  font-size: 6em;
}
