<center><h1>Bloc Time</h1></center>

<section>
  <div ng-controller="TasksCtrl" class="tasks">
    <h2>Task History</h2>
    <input type="text" ng-model="task">
    <button type="button" class="btn btn-primary" ng-click="addTask()">Add Task</button>
    <div ng-repeat="task in tasks | orderBy:'-completed'">
      <p>&#10003; {{ task.task }} Completed on: {{ task.completed }}</p>
    </div>
  </div>
</section>

<section>
  <div ng-controller="TimerCtrl" class="timer">
    <h1 ng-bind="counter | timeCode"></h1>
    <button ng-show="!isWorking && !onBreak" ng-click="startTimer()">START WORK</button>
    <button ng-show="isWorking" ng-click="resetTimer()">RESET</button>
    <button ng-show="onBreak && !isWorking" ng-click="startTimer()">START BREAK</button>
  </div>
</section>
